@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()" />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 2;
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo="Spider-Man: Far From Home", FechaLanzamiento=new DateTime(2025,09,05)},
            new Pelicula{Titulo="Avengers, Endgame", FechaLanzamiento=new DateTime(2016,11,23)},
        };
    }
}
