@page "/"

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="Peliculas" />
</div>

<button @onclick="AgregarPelicula">Agregar Película</button>

@code {
    public List<Pelicula>? Peliculas { get; set; }

    protected override void OnInitialized()
    {
        Peliculas = ObtenerPeliculas();
    }

    // private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>
    // {
    //     {"placeholder", "nuevo pseudoletrero"},
    //     {"disabled","true"}
    // };

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo="Wakanda Forever", FechaLanzamiento=new DateTime(2025,09,05)},
            new Pelicula{Titulo="Moana", FechaLanzamiento=new DateTime(2016,11,23)},
            new Pelicula{Titulo="Inception", FechaLanzamiento=new DateTime(2010,7,16)},
        };
    }

    private void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula { Titulo = "Nueva Película", FechaLanzamiento = DateTime.Today });
    }
}
