@page "/"
@page "/index"
@inject IRepositorio repositorio

<PageTitle>Blazor Películas</PageTitle>

<div>
    <h3>En cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera" />
</div>

<div>
    <h3>Próximos estrenos</h3>
    <ListadoPeliculas Peliculas="FuturosEstrenos" />
</div>

@code {
    public List<Pelicula>? FuturosEstrenos { get; set; }
    public List<Pelicula>? EnCartelera { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var respuestaHttp = await repositorio.Get<HomePageDTO>("api/peliculas");

        if (respuestaHttp.HttpResponseMessage.IsSuccessStatusCode)
        {
            FuturosEstrenos = respuestaHttp.Response!.ProximosEstrenos;
            EnCartelera = respuestaHttp.Response!.PeliculasEnCartelera;
        }
        else
            Console.WriteLine(respuestaHttp.HttpResponseMessage.StatusCode);
    }
}
