@page "/"

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()">
        <Cargando>
            <p>CARGANDO...</p>
        </Cargando>
        <NoHayRegistros>
            <p>¡NO HAY PELÍS!</p>
        </NoHayRegistros>
    </ListadoPeliculas>
</div>

@code {
    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>
    {
        {"placeholder", "nuevo pseudoletrero"},
        {"disabled","true"}
    };

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo="Wakanda Forever", FechaLanzamiento=new DateTime(2025,09,05)},
            new Pelicula{Titulo="Moana", FechaLanzamiento=new DateTime(2016,11,23)},
            new Pelicula{Titulo="Inception", FechaLanzamiento=new DateTime(2010,7,16)},
        };
    }
}
