@page "/"

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()" />
</div>

<div>
    <h2>Crear una nueva película</h2>

    <EjemploTextbox />
</div>

@code {
    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>
    {
        {"placeholder", "nuevo placeholder 2"},
        {"disabled", "true"}
    };

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
            new Pelicula{Titulo="Wakanda Forever", FechaLanzamiento=new DateTime(2024,9,18)},
            new Pelicula{Titulo="Moana", FechaLanzamiento=new DateTime(2016,11,23)},
            new Pelicula{Titulo="Inception", FechaLanzamiento=new DateTime(2010,7,16)},
        };
    }
}
