@page "/"
@inject ServicioSingleton singleton
@inject ServicioScoped scoped
@inject ServicioTransient transient
@inject IRepositorio repositorio

<HeadContent>
    <meta name="description" content="Página para visualizar películas" />
</HeadContent>

<PageTitle>Blazor Películas</PageTitle>

<p>Valor del Singleton: @singleton.Valor</p>
<p>Valor del Scoped: @scoped.Valor</p>
<p>Valor del Transient: @transient.Valor</p>

<div>
    <h3>Película</h3>
    <ListadoPeliculas Peliculas="Peliculas" />
    @* <img src="https://i.pinimg.com/originals/77/97/81/779781883952778b25974baa3cf7679c.gif" alt="Cargando..." /> *@
</div>

<br />

<button @onclick="AgregarPelicula">Agregar Película</button>

@code {
    public List<Pelicula>? Peliculas { get; set; }

    override protected void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    private void AgregarPelicula()
    {
        Console.WriteLine("Agregando una película");
        Peliculas!.Add(new Pelicula { Titulo = "Nueva Película", FechaLanzamiento = DateTime.Today });
    }
}
