@page "/"

<p>¡Hola, @Transformar(nombre)!</p>

<p>Vamos a sumar 2 + 2 = @(2 + 2)</p>

<button @onclick=@ManejarClickBoton>Presióname</button>

@code {
    string nombre = "Xavier";

    string Transformar(string valor) => valor.ToUpper();

    void ManejarClickBoton() => Console.WriteLine("¡Que me lo han ClickeaO, joder, desde una funCión, Y olÉ pajeros!");
}