@page "/"

<div>
    <h3>Pelicula</h3>
    <p>Titulo: <b>@WakandaForever.Titulo</b></p>
    <p>Fecha de lanzamiento: <b>@WakandaForever.FechaLanzamiento.ToString("dd MM yyyy")</b></p>
</div>

@code {
    string nombre = "Fernanda";

    Pelicula WakandaForever { get { return ObtenerPelicula(); } }

    Pelicula ObtenerPelicula()
    {
        return new Pelicula
            {
                Titulo = "Wakanda Forever",
                FechaLanzamiento = new DateTime(2022, 11, 11)
            };
    }

    void ManejarClickBoton()
    {
        Console.WriteLine("¡Que me han crickeaO desde una función! ¡Y olE!");
    }
}
