@page "/"
@page "/index"
@inject IRepositorio repositorio

<PageTitle>BlaZor Películas®</PageTitle>

<AuthorizeView Roles="admin">
    <Authorized>
        <p>Estás autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estás autorizado para ver esto</p>
    </NotAuthorized>
</AuthorizeView>

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera" />
</div>

<div>
    <h3>Proximos Estrenos</h3>
    <ListadoPeliculas Peliculas="FuturosEstrenos" />
</div>



@code {
    public List<Pelicula>? FuturosEstrenos { get; set; }
    public List<Pelicula>? EnCartelera { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<HomePageDTO>("api/peliculas");
        FuturosEstrenos = respuestaHTTP.Response!.ProximosEstrenos;
        EnCartelera = respuestaHTTP.Response!.PeliculasEnCartelera;
    }
}
