@page "/logout"
@using BlazorPeliculas.Client.Auth
@inject ILoginService loginService
@inject NavigationManager navigationManager

<p>Deslogueando...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await loginService.Logout();
        navigationManager.NavigateTo("");
    }
}
