<div class="me-2 mb-2" style="text-align: center">
    <a>
        <img src="@Pelicula.Poster" alt="poster" style="width: 225px; height: 300px" />
    </a>
    <p style="max-width: 225px; height: 44px; font-size: 15px; font-weight: bold">@Pelicula.Titulo</p>
    <div>
        <a class="btn btn-info">Editar</a>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;
    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    [Parameter]
    public EventCallback<Pelicula> EliminarPelicula { get; set; }
}
