@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear Película</h3>

<FormularioPelicula Pelicula="pelicula" OnValidSubmit="Crear"></FormularioPelicula>


@code {
    private Pelicula pelicula = new Pelicula();

    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
