@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Película</h3>

<FormularioPeliculas Pelicula="pelicula" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoSeleccionados">

</FormularioPeliculas>


@code {
    private Pelicula pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new()
        {
            new() { Id = 1, Nombre = "Comedia" },
            new() { Id = 2, Nombre = "Drama" },
            new() { Id = 3, Nombre = "Acción" },
            new() { Id = 4, Nombre = "Sci-Fi" }
        };
    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/peliculas", pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }else
        {
            navigationManager.NavigateTo($"/pelicula/{id}/{pelicula.Titulo.Replace(" ", "-")}");
        }
    }
}
