@page "/"
@inject RepositorioPeliculas repositorioPeliculas

<div>
    <h3>En cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera" />
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculas Peliculas="FuturosEstrenos" />
</div>

@code {
    private List<Pelicula> FuturosEstrenos;
    private List<Pelicula> EnCartelera;

    protected override async Task OnInitializedAsync()
    {
        var homePageDTO = await repositorioPeliculas.Get();
        FuturosEstrenos = homePageDTO.ProximosEstrenos!;
        EnCartelera = homePageDTO.PeliculasEnCartelera!;
    }
}
