@model Contacto

@{
    ViewData["Title"] = "Nuevo Contacto";
}

<h1 class="text-center">Nuevo Contacto</h1>

<hr />

<form asp-action="Crear" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" class="form-control" placeholder="Ingresa el correo" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" placeholder="Ingresa el teléfono" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion"  class="form-control" placeholder="Ingresa la dirección" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>

</form>