@if (Peliculas is null)
{
    @if (Cargando is null)
    {
        <img alt="cargando" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
    }
    else
    {
        @Cargando
    }
}
else if (Peliculas.Count == 0)
{
    @if (NoHayRegistros is null)
    {
        <p>No hay películas para mostrar.</p>
    }
    else
    {
        @NoHayRegistros
    }
}
else
{
    <input type="checkbox" @bind="mostrarBotones" /><span>Mostrar Botones</span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="mostrarBotones" EliminarPelicula="EliminarPelicula"/>
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas{ get; set; }
    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;
    [Parameter]
    public RenderFragment NoHayRegistros { get; set; } = null!;
    bool mostrarBotones = false;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine("Eliminando una película...");
        Peliculas!.Remove(pelicula);
    }
}
