@if(Peliculas is null)
    {
        <img alt="cargando..." src="https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif" width="100px" />
    }
    else if (Peliculas.Count == 0)
    {
        <p>No hay películas para mostrar.</p>
    }
    else
    {
        @foreach(var pelicula in ObtenerPeliculas())
        {
            <div>
                <p>Titulo: @((MarkupString)pelicula.Titulo)
                    @if(DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days<=14)
                    {
                        <span style="color: red;">(NUEVO!)</span>
                    }
                </p>
                <p>Fecha de lanzamiento: <b>@pelicula.FechaLanzamiento.ToString("dd MM yyyy")</b></p>
            </div>
        }
    }

@code {

}