@if (Peliculas is null)
{
    <img alt="cargando" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
}
else if (Peliculas.Count == 0)
{
    <p>No hay películas para mostrar</p>
}
else
{
    @foreach (var pelicula in Peliculas)
    {
        
    }
}

@code {
    [Parameter]
    public List<Pelicula>? Peliculas{ get; set; }
}
