@if (Peliculas is null)
{
    <img alt="cargando" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
}
else if (Peliculas.Count == 0)
{
    <p>No hay películas para mostrar</p>
}
else
{
    <input type="checkbox" @bind="mostrarBotones" /><span>Mostrar Botones</span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="mostrarBotones"/>
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas{ get; set; }
    bool mostrarBotones = false;
}
