@if (Peliculas is null)
{
    @* <p>Cargando las películas...</p> *@
    <img alt="Cargando..." src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
}
else if (Peliculas.Count == 0)
{
    <p>No hay películas para mostrar.</p>
}
else
{
    <input type="checkbox" @bind="MostrarBotones" />
    <span> Mostrar botones</span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" />
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }
    bool MostrarBotones = true;
}
