@inject IJSRuntime js

<input type="checkbox" @bind="mostrarBotones" /><span>Mostrar Botones</span>
<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="mostrarBotones" EliminarPelicula="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }
    bool mostrarBotones = true;

    protected override void OnInitialized()
    {
        Console.WriteLine($"OnInitialized - Cantidad Películas {Peliculas!.Count}");
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet - Cantidad Películas {Peliculas!.Count}");
    }

    protected override void OnAfterRender(bool primeraRenderizacion)
    {
        Console.WriteLine("OnAfterRender: Primera vez: " + primeraRenderizacion);
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine("ShouldRender");
        return true;
    }

    private async Task EliminarPelicula(Pelicula pelicula)
    {
        var confirmado = await js.Confirm($"¿Desea eliminar la película {pelicula.Titulo}?");

        if (confirmado)
        {
            Console.WriteLine("Eliminando una película...");
            Peliculas!.Remove(pelicula);
        }
    }
}
