<nav>
    <ul class="pagination justify-content-center">
        @foreach(var enlace in Enlaces)
        {
            <li @onclick=@(() => PaginaSeleccionadaInterno(enlace)) style="cursor: pointer" class="page-item @(enlace.Habilitada?null:"disabled") @(enlace.Activa?"active":null)">
                <a class="page-link">@enlace.Texto</a>
            </li>
        }

        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

@code {
    [Parameter] public int PaginaActual { get; set; } = 1;
    [Parameter] public int PaginasTotales { get; set; }
    [Parameter] public int Radio { get; set; } = 3;
    [Parameter] public EventCallback<int> PaginaSeleccionada { get; set; }
    List<PaginasModel> Enlaces = new List<PaginasModel>();

    protected override void OnParametersSet()
    {
        Enlaces = new List<PaginasModel>();

        var enlaceAnteriorHabilitado = PaginaActual != 1;
        var enlaceAnteriorPagina = PaginaActual - 1;
        Enlaces.Add(new PaginasModel
        {
            Texto = "Anterior",
            Pagina = enlaceAnteriorPagina,
            Habilitada = enlaceAnteriorHabilitado
        });

        for (int i = 1; i <= PaginasTotales; i++)
        {
            if (i >= PaginaActual - Radio && i <= PaginaActual + Radio)
            {
                Enlaces.Add(new PaginasModel
                {
                    Pagina = i,
                    Activa = i == PaginaActual,
                    Texto = i.ToString()
                });
            }
        }

        var enlaceSiguienteHabilitado = PaginaActual != PaginasTotales;
        var enlaceSiguientePagina = PaginaActual + 1;
        Enlaces.Add(new PaginasModel
        {
            Texto = "Siguiente",
            Pagina = enlaceSiguientePagina,
            Habilitada = enlaceSiguienteHabilitado
        });
    }

    class PaginasModel
    {
        public string Texto { get; set; } = null!;
        public int Pagina { get; set; }
        public bool Habilitada { get; set; } = true;
        public bool Activa { get; set; } = false;
    }
}
