<div class="me-2 mb-2" style="text-align:center;">

</div>

@code {
    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;
    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    [Parameter]
    public EventCallback<Pelicula> EliminarPelicula { get; set; }
}
