@page "/generos/crear"
@using Microsoft.AspNetCore.Authorization
@inject RepositorioGeneros repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>CrearGenero</h3>

<FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Crear" />

@code {
    private Genero Genero = new Genero();
    private FormularioGenero? formularioGenero;

    private async Task Crear()
    {
        try
        {
            await repositorio.Post(Genero);
        }
        catch
        {
            // hacer algo...
        }

        navigationManager.NavigateTo("generos");
    }
}
