@page "/generos/editar/{GeneroId:int}"
@* @using System.Net *@
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigationManager
@inject RepositorioGeneros repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Género</h3>

@if (Genero is null)
{
    <p>Cargando...</p>
}
else
{
    @* <FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Editar" /> *@
    <FormularioGenero Genero="Genero" OnValidSubmit="Editar" />
}

@code {
    [Parameter]
    public int GeneroId { get; set; }
    private Genero? Genero;
    // private FormularioGenero? formularioGenero;

    override protected async Task OnInitializedAsync()
    {
        Genero = await repositorio.Get(GeneroId);

        if(Genero is null)        
            navigationManager.NavigateTo("generos");
    }

    private async Task Editar()
    {
        await repositorio.Put(Genero!);
        navigationManager.NavigateTo("generos");
    }
}
