
<div class="mb-3">
    <label>Nombre:</label>
    <div>
        <InputText class="form-control" @bind-Value="@Actor.Nombre" />
        <ValidationMessage For="@(()=>Actor.Nombre)" />
    </div>
</div>
<div class="mb-3">
    <label>Fecha Nacimiento:</label>
    <div>
        <InputText class="form-control" @bind-Value="@Actor.FechaNacimiento" />
        <ValidationMessage For="@(()=>Actor.FechaNacimiento)" />
    </div>
</div>

<div class="mb-3">
    
</div>

<div class="mb-3">

</div>

<button class="btn btn-success">Guardar Cambios</button>

@code {
    [Parameter]
    [EditorRequired]
    public Actor Actor { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }
}
