@model BlogCoreSolution.Models.Articulo
@{
    ViewBag.Title = "Detalle del artículo";
}

<br />
<div class="container">
    <div class="card">
        <div class="card-header bg-light text-light">
            <div class="col-12">
                <h1 class="text-center text-primary">@Model.Nombre</h1>
            </div>
            <div class="col-12">
                <p class="text-muted">Fecha: @Model.FechaCreacion.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <img src="@Model.UrlImagen" class="img-thumbnail mx-auto d-block" />
                <p class="text-secondary">
                    @Html.Raw(Model.Descripcion))
                </p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-success btn-sm">Volver atrás</a>
                </div>
            </div>
        </div>
    </div>
</div>