@page "/generos/crear"

<h3>CrearGenero</h3>

<EditForm Model="Genero" OnSubmit="Crear">
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="Genero.Nombre" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>

@code {
    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando método Crear");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }
}
