@page "/generos/crear"

<h3>CrearGenero</h3>

<FormularioGenero Genero="Genero" OnValidSubmit="Crear" />

@code {
    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando método Crear");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }
}
