@page "/generos/editar/{GeneroId:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Editar Género</h3>

@if (Genero is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Editar" />
}

@code {
    [Parameter]
    public int GeneroId { get; set; }
    private Genero? Genero;
    private FormularioGenero? formularioGenero;

    override protected async Task OnInitializedAsync()
    {
        var respuestaHttp = await repositorio.Get<Genero>($"api/generos/{GeneroId}");

        if (respuestaHttp.Error)
        {
            if (respuestaHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("generos");
            }
            else
            {
                var mensajeError = await respuestaHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Genero = respuestaHttp.Response!;
        }
    }

    private async Task Editar()
    {
        var respuestaHttp = await repositorio.Put("api/generos", Genero);

        if (respuestaHttp.Error)
        {
            var mensajeError = await respuestaHttp.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
        // if (Genero is not null)
        // {
            formularioGenero!.FormularioPosteadoConExito = true;
            navigationManager.NavigateTo("generos");
        // }
        }
    }
}
