@page "/generos/editar/{GeneroId:int}"
@inject NavigationManager navigationManager

<h3>Editar Género</h3>

<FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Editar" />

@code {
    [Parameter]
    public int GeneroId { get; set; }
    private Genero? Genero;
    private FormularioGenero? formularioGenero;

    override protected void OnInitialized()
    {
        // Simulación de obtención del género desde una fuente de datos
        Genero = new Genero { Id = GeneroId, Nombre = "Comedia" };
    }

    private void Editar()
    {
        if (Genero is not null)
        {
            formularioGenero!.FormularioPosteadoConExito = true;
            Console.WriteLine("Editando Género de Película");
            Console.WriteLine($"ID: {Genero.Id}, Nombre: {Genero.Nombre}");
            navigationManager.NavigateTo("generos");
        }
    }
}
