
@model LoginViewModel

<h2 class="mb-4 text-center">Iniciar Sesión</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1">
                <div class="card-body p-4">

                    <div class="row">
                        <div class="col-md-6 border-end">
                            <form asp-action="Login" method="post">

                                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Email" class="form-label"></label>
                                        <input asp-for="Email" class="form-control" placeholder="Ingresa tu correo electrónico" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Password" class="form-label"></label>
                                        <input asp-for="Password" class="form-control" placeholder="Ingresa tu contraseña" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <input asp-for="RememberMe" class="form-check-input" />&nbsp;
                                        <label asp-for="RememberMe" class="form-check-label"></label>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                </div>

                                <!-- Link recuperar contraseña -->
                                <div class="text-center mt-3">
                                    <a asp-action="OlvidoContrasena" asp-controller="Account" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
