<h2 class="mb-4 text-center">Revsia tu correo</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1">
                <div class="card-body p-4">

                    <p class="text-muted mb-4">
                        Si el correo ingresado existe, encontrarás un enlace para restablecer tu contraseña a tu dirección de correo electrónico.
                        <br />
                        Revísalo para restaurar el acceso.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
