<h2 class="mb-4 text-center">¡Registro exitoso!</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1">
                <div class="card-body p-4">

                    <p class="text-center">¡Gracias por registrarte!<br />Por favor, revisa tu correo electrónico (bendeja de entrada o carpeta de spam) para confirmar tu cuenta.</p>
                    <a asp-action="Login" class="btn btn-primary mt-3">Ir a iniciar sesión</a>

                </div>
            </div>
        </div>
    </div>
</div>
