@model RegistroViewModel

<h2 class="mb-4">
    Registro de Usuario
</h2>

<form asp-action="Registro" method="post">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" placeholder="Ingresa tu nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Ingresa tu correo electrónico" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Ingresa tu contraseña" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirma tu contraseña" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Ingresa tu teléfono" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="CodigoPais" class="form-label"></label>
            <input asp-for="CodigoPais" type="number" class="form-control" placeholder="Ingresa el código de tu país" />
            <span asp-validation-for="CodigoPais" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Pais" class="form-label"></label>
            <input asp-for="Pais" class="form-control" placeholder="Ingresa tu país" />
            <span asp-validation-for="Pais" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Ciudad" class="form-label"></label>
            <input asp-for="Ciudad" class="form-control" placeholder="Ingresa tu ciudad" />
            <span asp-validation-for="Ciudad" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Direccion" class="form-label"></label>
            <input asp-for="Direccion" class="form-control" placeholder="Ingresa tu dirección completa" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="FechaNacimiento" class="form-label"></label>
            <input asp-for="FechaNacimiento" type="date" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Url" class="form-label"></label>
            <input asp-for="Url" class="form-control" placeholder="Ingresa la url de tu sitio o red social" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <input asp-for="Estado" class="form-check-input" />&nbsp;
            <label asp-for="Estado" class="form-check-label"></label>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
