@model ResetPasswordViewModel

<h2 class="mb-4 text-center">Restablecer Contraseña</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1">
                <div class="card-body p-4">

                    <form asp-action="ResetPassword" method="post">

                        <div asp-validation-summary="All" class="text-danger mb-3"></div>

                        <!-- Campos Ocultos -->
                        <input asp-for="Email" type="hidden" />
                        <input asp-for="Token" type="hidden" />

                        <div class="mb-3">
                            <label asp-for="Password" class="col-form-label fw-semibold"></label>
                            <input asp-for="Password" class="form-control form-control-lg" placeholder="Ingresa tu nueva contraseña" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="col-form-label fw-semibold"></label>
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirma tu nueva contraseña" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Restablecer Contraseña</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
