@page "/peliculas/crear"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigationManager
@inject RepositorioPeliculas repositorioPeliculas
@inject RepositorioGeneros repositorioGeneros
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Película</h3>

@if (MostrarFormulario)
{
    <FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoSeleccionados">
    </FormularioPeliculas>
}
else
{
    <p>Cargando...</p>
}

@code {
    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();
    public bool MostrarFormulario { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        GenerosNoSeleccionados = await repositorioGeneros.Get();
        MostrarFormulario = true;
    }

    async Task Crear()
    {
        var peliculaId = await repositorioPeliculas.Post(Pelicula);
        navigationManager.NavigateTo($"/pelicula/{peliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
    }
}
