@page "/actores/editar/{ActorId:int}"
@using System.Net
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Actor</h3>

@if (Actor is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioActores Actor="Actor" OnValidSubmit="Editar" />
}

@code {
    [Parameter]
    public int ActorId { get; set; }
    FormularioActores? formularioActores;
    Actor? Actor;

    override protected async Task OnInitializedAsync()
    {
        var respuestaHttp = await repositorio.Get<Actor>($"api/actores/{ActorId}");

        if (respuestaHttp.Error)
        {
            if (respuestaHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("actores");
            }
            else
            {
                var mensajeError = await respuestaHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Actor = respuestaHttp.Response!;
        }
    }

    private async Task Editar()
    {
        var respuestaHttp = await repositorio.Put("api/actores", Actor);

        if (respuestaHttp.Error)
        {
            var mensajeError = await respuestaHttp.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("actores");
        }
    }
}
