@page "/actores"
@using System.Net
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Índice Actores</h3>

<div class="mb-3">
    <a href="actores/crear" class="btn btn-info">Crear Actor</a>
</div>

<ListadoGenerico Listado="Actores">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Actores!)
                {
                    <tr>
                        <td>
                            <a href="actores/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Borrar(item))>Borrar</button>
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    public List<Actor>? Actores { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var respuestaHTTP = await repositorio.Get<List<Actor>>("api/actores");        
        Actores = respuestaHTTP.Response!;
    }

    private async Task Borrar(Actor actor)
    {
        var responseHttp = await repositorio.Delete($"api/actores/{actor.Id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)

                navigationManager.NavigateTo("actores");
            else
            {
                var mensajeError = await responseHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }

}
