@page "/actores"
@inject IRepositorio repositorio

<h3>Índice Actores</h3>

<div class="mb-3">
    <a href="actores/crear" class="btn btn-info">Crear Actor</a>
</div>

<ListadoGenerico Listado="Actores">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Actores!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    public List<Actor>? Actores { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<List<Actor>>("api/actores");
        Actores = respuestaHTTP.Response!;
    }
}
