@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Película</h3>

<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoSeleccionados">
</FormularioPeliculas>

@code {
    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new List<Genero>
        {
            new Genero { Id = 2, Nombre = "Comedia" },
            new Genero { Id = 3, Nombre = "Drama" },
            new Genero { Id = 1, Nombre = "Acción" },
            new Genero { Id = 4, Nombre = "Sci-Fi" }
        };
    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post<Pelicula, int>("api/peliculas", Pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            var peliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{peliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }
}
