@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear Película</h3>

<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear"></FormularioPeliculas>

@code {
    private Pelicula Pelicula = new Pelicula();

    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
