@page "/peliculas/editar/{PeliculaId:int}"

<h3>Editar Película</h3>

<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Editar"></FormularioPeliculas>

@code {
    [Parameter]
    public int PeliculaId { get; set; }
    Pelicula Pelicula = new Pelicula();

    protected override void OnInitialized()
    {
        Pelicula = new Pelicula { Id = PeliculaId, Titulo = "Mi Película" };
    }

    private void Editar()
    {
        Console.WriteLine("Editando pelóquila...(BuaaaAAAHHH!!!!)");
    }
}
